In [1]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('cost_revenue_clean.csv')

In [4]:
data.head(10)

   Production_Budget_USD  Worldwide_Gross_USD
0              5000000.0                 26.0
1               375000.0                401.0
2             32500000.0                423.0
3             39000000.0                450.0
4             10000000.0                527.0
5             36000000.0                673.0
6             15000000.0                703.0
7              7000000.0                828.0
8              1305000.0                884.0
9             25000000.0                900.0

In [5]:
data.describe()

       Production_Budget_USD  Worldwide_Gross_USD
count           5.034000e+03         5.034000e+03
mean            3.275547e+07         9.515685e+07
std             4.137793e+07         1.726012e+08
min             1.100000e+03         2.600000e+01
25%             5.500000e+06         7.000000e+06
50%             1.850000e+07         3.296202e+07
75%             4.200000e+07         1.034471e+08
max             4.250000e+08         2.783919e+09

In [6]:
X = DataFrame(data, columns=['Production_Budget_USD'])
Y = DataFrame(data, columns=['Worldwide_Gross_USD'])

In [ ]:
plt.figure 
plt.scatter(X, Y)
plt.title('Cost vs Global Revenue')
plt.xlabel('Production Budget $')
plt.ylabel('Worldwide Gross $')
plt.show()